/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background: whitesmoke;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #7C5CBF;
  border: none;
  color: white;
  font-size: 16px;
  transition: background .3s ease;
}

button:hover {
  background: #6b47b8;
}

button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1D1F26;
  background: #F7F7FA;
  padding: 24px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

/* Chat Page Layout */

.chat {
  display: flex;
}

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #333744;
  min-width: 200px;
  max-width: 300px;
  overflow-y: scroll;
  /* https://stackoverflow.com/a/36150764/1245302 */
  overflow-wrap: break-word;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background: white;
  margin-left: 0.75rem;
  border-left: 1px solid lightgrey;

  /* https://stackoverflow.com/a/36150764/1245302 */
  min-width: 2%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Chat styles */


.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

/* Message Styles */

.chat-message {
  margin-bottom: 16px;
}

.chat-info {
  margin-top: 24px;
  margin-bottom: 24px;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.chat-message a {
  color: #0070CC;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 24px;
  background: #2c2f3a;

  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 16px;
  padding-top: 0px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
}

.users {
  list-style-type: none;
  font-weight: 400;
  padding-top: 0px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}

/* MB custom */

.button.is-info, .button.is-primary, .button.is-link {
  background: #7C5CBF;
}


/* https://www.ostraining.com/blog/coding/responsive-google-maps/ */
.map-responsive {
  overflow: hidden;
  /*padding-bottom: 16.25%;*/
  min-height: 300px;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.my-textarea {
  background: #f0f0f0;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: white;
  }

  select,
  textarea,
  input {
    font-size: 16px;
    background: darkgrey;
  }
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {

}



@media screen and (max-width: 768px) {
  .chat__sidebar {
    visibility: hidden;
    height: 100vh;
    color: white;
    background: #333744;
    min-width: 1px;
    max-width: 2px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 10px;
  }

  .chat__main {
    margin-left: 0.1rem;
  }

  .chat__messages {
    font-size: 14px;
  }
}


.copyright {
  margin-bottom: 24px;
}
