
.media .notaligned {
  align-items: initial;
}

.fullheight-flex {
  align-items: stretch;
}

.fullheight {
  height: 100%;
}

.chatroom {
  overflow-y: auto;
  max-height: 400px;
}


.is-fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 3em 2em;
  z-index: 30;
}


@media screen and (max-width: 1023px) {
  .is-marginless-touch {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 80%;
  }

  .is-fixed-bottom {
    padding: 0.25em 1em 0.5em;
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}

