
.media .notaligned {
  align-items: initial;
}

.fullheight-flex {
  align-items: stretch;
}

.fullheight {
  height: 100%;
}


.is-fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 3em 2em;
  z-index: 30;
}

.chatroom {
  padding-bottom: 6rem;
}

@media screen and (max-width: 1023px) {
  .is-marginless-touch {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 86%;
  }

  .is-fixed-bottom {
    padding: 0.25em 1em 0.5em;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
