<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>-->
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/css/bulma.0.7.5.css'/>
    <link rel='stylesheet' href='/css/styles.css'/>
    <!--    <link rel="stylesheet" href="css/debug.css">-->

    <script defer src="https://use.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.8.0/qs.min.js"></script>
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/ejs.min.js"></script>
    <script defer src="/js/utils.js"></script>
    <script defer src="/js/chat.js"></script>

    <%- include templates/chatMessages.ejs %>
</head>
<body>

<div class="chat">
    <div class="chat__sidebar">

    </div>
    
    <div class="chat__main">
        <div id="chatroom" class="chat__messages">

        </div>

        <div class="compose">
            <form id="sendMessageForm">
                <input name="message" class="input is-medium" id="messageTextArea" placeholder="Message">
                
                <button type="submit" class="button is-info is-medium" id="sendBtn">
                    <span class="icon is-small"><i
                                class="fas fa-paper-plane"></i></span>
                    <span>Send</span>
                </button>
            </form>
            
            <a id="sendLocationBtn" type="button" href="#"
               class="button is-info is-medium is-outlined">
                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                <span>location</span>
            </a>
        </div>
    </div>
</div>


<div class="modal" id="geoNotSupportedModal">
    <div class="modal-background"></div>

    <div class="modal-content">
        <div class="notification is-danger">
            <button class="delete is-dark" aria-label="close"></button>
            Geo location not supported in your browser :(
        </div>
    </div>
</div>

</body>
</html>
