<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>-->
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/css/bulma.0.7.5.css'/>
    <link rel='stylesheet' href='/css/styles.css'/>
    <!--    <link rel="stylesheet" href="css/debug.css">-->

    <script defer src="https://use.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.8.0/qs.min.js"></script>
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/ejs.min.js"></script>
    <script defer src="/js/utils.js"></script>
    <script defer src="/js/chat.js"></script>

    <%- include templates/chat.ejs %>
    <%- include templates/sidebar.ejs %>
</head>
<body>

<div class="chat">
    <div class="chat__sidebar">
        <div id="sidebar">


        </div>

        <br>
        <div class="copyright">

            <div class="has-text-grey-lighter has-text-centered content is-small">
                <p>
                    Fantom chat by Michael Butlitsky
                </p>
                <p>
                    <a class="button is-normal is-light is-outlined"
                       href="https://github.com/aristofun"
                       target="_blank">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                        <span>aristofun</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="chat__main">
        <div id="chatroom" class="chat__messages">

        </div>

        <div class="compose">
            <form id="sendMessageForm">
                <div class="container">
                    <div class="columns is-1">
                        <div class="column">

                            <input required name="message" class="input is-normal"
                                   id="messageTextArea"
                                   placeholder="Message">
                        </div>

                        <div class="column is-narrow">


                            <button type="submit" class="button is-info is-normal is-fullwidth"
                                    id="sendBtn">
                                <span class="icon is-small"><i
                                            class="fas fa-paper-plane"></i></span>
                                <span>Send</span>
                            </button>
                        </div>

                        <div class="column is-narrow">
                            <a id="sendLocationBtn" href="#"
                               class="button is-info is-normal is-outlined is-fullwidth">
                                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                                <span>location</span>
                            </a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" id="geoNotSupportedModal">
    <div class="modal-background"></div>

    <div class="modal-content">
        <div class="notification is-danger">
            <button class="delete is-dark" aria-label="close"></button>
            Google Maps supported only in HTTPS websites & if you allow it
        </div>
    </div>
</div>

<div class="modal" id="roomJoinErrorModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <article class="message is-danger">
            <div class="message-header">
                <p>Can't join</p>
                <button class="delete" aria-label="close"></button>
            </div>

            <div class="message-body content" id="message">
            </div>
        </article>

    </div>
</div>

<div class="modal" id="messageErrorModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <article class="message is-warning">
            <div class="message-header">
                <p>Error sending message</p>
                <button class="delete" aria-label="close"></button>
            </div>

            <div class="message-body content" id="message">
            </div>
        </article>

    </div>
</div>

</body>
</html>
