<script id="template-sidebar" type="text/html">
    <h1 class="room-title"><small>Room</small> «<%- "<\%=  roomName %\>" %>»</h1>

    <h3 class="list-title">Users</h3>

    <ul class="users">
        <%- "<\% for (let i = 0; i < userIds.length; i++) { %\>" %>
        <li><%- "<\%- userIds[i].userName %\>" %></li>
        <%- "<\% } %\>" %>
    </ul>
</script>